
<mat-list>
    <mat-list-item *ngFor="let personaje of personajes.results">
        <img matListItemAvatar [src]="personaje.image">
        <span matListItemTitle>{{personaje.name}} </span>
        <span matListItemLine>Estado: {{personaje.status}}</span>
        <span matListItemLine>Especie: {{personaje.species}}</span>
        
        <div class="botonDetalles">
            <button mat-raised-button color="accent" (click)="openDialog(personaje)">Detalles</button>
        </div>
        <div>
            <mat-divider></mat-divider>
        </div>
        
    </mat-list-item>
    
</mat-list>






